.vs/
.vscode/
bin/Debug/netcoreapp3.1/LeetCode.deps.json
bin/Debug/netcoreapp3.1/LeetCode.dll
bin/Debug/netcoreapp3.1/LeetCode.pdb
bin/Debug/netcoreapp3.1/LeetCode.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LeetCode.runtimeconfig.json
obj/Debug/netcoreapp3.1/LeetCode.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/LeetCode.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LeetCode.assets.cache
obj/Debug/netcoreapp3.1/LeetCode.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/LeetCode.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LeetCode.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LeetCode.dll
obj/Debug/netcoreapp3.1/LeetCode.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/LeetCode.pdb
obj/LeetCode.csproj.nuget.dgspec.json
obj/LeetCode.csproj.nuget.g.props
obj/LeetCode.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/
bin/
